<%= form_tag('/auth/developer', method: 'post', data: { turbo: false }) do %>
  <button type="submit">login  as a developer</button>
<% end %>

<%= form_tag('/auth/twitter2', method: 'post', data: { turbo: false }) do %>
  <button type="submit">login with twitter</button>
<% end %>